body {
    margin: 0;
    background: #774dba;
    text-align: center;
}

.left{
    text-align: left;
}

a:visited {
    color: yellow;
}

.bold {
    font-weight: bold;
}

.main{
    width:40%;
    text-align: left;
    margin-left:20px;
}